:root {
    --cor-fundo: #F0F8E4; /* Cor de fundo clara e natural */
    --cor-principal: #A3D5A1; /* Verde suave, remetendo à natureza */
    --cor-secundaria: #9BCC9A; /* Verde mais escuro */
    --cor-destaque: #7D8C3C; /* Verde escuro para destaques */
    --cor-texto: #3D3D3D; /* Texto em um tom escuro para contraste */
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.caixa-principal {
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}